name: Build and Test
on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [10.x]

    steps:
      - uses: actions/checkout@v1

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}

      - name: npm install
        run: |
          npm ci

      - name: build
        run: |
          npm run build-all

      - name: test
        run: |
          npm run test-all

      - name: e2e
        run: |
          npm run e2e-all
